.progress-container {
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  margin-top: 2em;
  padding-left: 5rem;
  width: 90%;
}

.progress-bar-background {
  width: 90%;
  height: 60px;
  background: white;
  border-radius: 40px;
  overflow: hidden;
  border: 4px solid white;
  margin-bottom: 1rem;
}


.progress-bar-fill {
  height: 100%;
  background-color: lime; /* o el color que estés usando */
  transition: width 1s linear; /* suaviza los saltos */
  border-radius: 40px;
}

.progress-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.progress-message {
  margin-top: 1rem;
  color: white;
  font-weight: bold;
}


/* Responsivo */
/* Tablets pequeñas (modo vertical) */
@media (min-width: 768px) and (max-width: 1024px) {
  .progress-container {
  padding-left: 1.5rem;
  width: 100%;
}

    .progress-bar-background {
  width: 100%;
}
}

/* Tablets (modo horizontal) */
@media (min-width: 900px) and (max-width: 1280px) and (orientation: landscape) {
  
}

/* Laptops pequeñas / Tablets grandes */
@media (min-width: 1281px) and (max-width: 1440px) {

    .progress-container {
  padding-left: 1.5rem;
  width: 100%;
}

    .progress-bar-background {
  width: 100%;
}


}

